
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(207, 241, 241);
}

.card {
    margin: 10vh 35vw;
    background-color: white;
    display: flex;
    position: relative;
    top: 50%;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 0.6rem;
    border: 1px solid black;
    border-radius: 11px;
}

.card .img-wrap{
    display: flex;
    justify-content: center;
}

.card .img-wrap img {
    border: 1px solid black;   
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.card .tags {
    display: flex;
    gap: 0.5em;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.card .tags span {
    padding: 0.2em 0.5em;
    font-size: 0.7rem;
    border: 1px solid aqua;
    border-radius: 8px;
    opacity: 0.65;
}

.card h3 {
    font-size: 1.5rem;
    padding: 0.2em 0.5em;
}

.card p {
    padding: 1em 1em;
    font-size: 0.75rem;
    color: #b1b1b1;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .container .action {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}
.card .container .read-more {
    background-color: rgba(0, 0, 255, 0.142);
    color: blue;
    padding: 0.6rem;
    border-radius: 21px;
    border: none;
    width: 50%;
}